* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Eras Demi ITC', sans-serif;
  position: relative; /* Add this line for the hover effect */
  transition: color 0.3s ease; /* Add this line for smooth color transition */
}

nav ul li a:hover {
  background-color: #ddd;
  color: #65cbeb; /* Change the color when hovering */
}

.logo {
  margin-left: 40px;
  font-family: 'Eras Demi ITC', sans-serif;
}

.banner {
  background-color: #65cbeb;
  padding: 10px;
}

.banner marquee {
  white-space: nowrap;
  color: white;
  font-family: 'Eras Demi ITC', sans-serif;
}

body {
  background-image: url('media/bg1.jpg');
  background-size: cover;
}

.container {
  max-width: 1500px; /* Increase the maximum width as desired */
  margin: 30px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 36px;
  font-family: 'Eras Demi ITC', sans-serif;
}

p {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Eras Demi ITC', sans-serif;
}

p1 {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Eras Demi ITC', sans-serif;
}

#rotating-images {
  position: relative;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.banner-image {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner-image:first-child {
  display: block;
}

.faq-container {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 40px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Eras Demi ITC', sans-serif;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Eras Demi ITC', sans-serif;
}

.faq p1 {
  margin-top: 15px;
  font-size: 26px;
  font-family: 'Eras Demi ITC', sans-serif;
}
/* Existing CSS code */

/* Add the following CSS for the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin-right: 10px;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex-grow: 1;
}
#quote {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

#quote img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px; /* Adjust the value as per your preference */
}
ol {
        list-style-type: decimal;
        margin-left: 30px;
        margin-bottom: 20px;
        font-size: 20px;
  font-family: 'Eras Demi ITC', sans-serif;
    }

    li {
        margin-bottom: 10px;
        font-size: 20px;
  font-family: 'Eras Demi ITC', sans-serif;
    }
    .download-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #65cbeb;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #4699c6;
}
